body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

header {
    padding: 0em 0.75em 1em;
    border-bottom: 3px solid black;
    margin-bottom:  0;
}

main {
    padding: 0em 1em;
}

footer{
    background-color: black;
    padding: 0em;
    color: white;
}

footer img {
    width: 2em;
    padding: 3px;
    vertical-align: middle;
}